main section {
  width: 100%;
  display: flex;
  justify-content: center;
}
main section form {
  width: 20%;
  display: flex;
  padding: 3rem 2rem;
  background-color: #d4d6f3;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 3rem;
}
main section form p {
  text-align: center;
  margin: 0 0 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #181e74;
}
div.signin-form-row label {
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: #181e74;
  display: block;
}
div.signin-form-row input[type=email],
div.signin-form-row input[type=password] {
  box-sizing: border-box;
  width: 100%;
  border: none;
  outline: none;
  font-size: 0.8rem;
  color: #3e47c8;
  background-color: #fff;
  padding: 0.5rem 1.1rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}
main section form div.signin-form-button {
  display: flex;
  justify-content: center;
}
main section form div.signin-form-button button {
  width: 100%;
  background-color: #3e47c8;
  padding: 0.4rem;
  font-weight: 500;
  font-size: 0.9rem;
  color: #fff;
  margin-top: 1.5rem;
  outline:none;
  border: none;
  border-radius: 4px;
}
@media (max-width: 768px) {
  main section form {
    width: 70%;
  }
}